{% extends 'base.html' %}
{% load tz %}

{% block content %}
<div class="mui-panel">
    <div class="mui-container-fluid">
        <div class="mui-row">
            <div class="mui-col-md-8">
            <h1>
            {% block title %}
                Account Settings for {{user | title}}
            {% endblock %}
            </h1>
            </div>
        </div>
    </div>
    <div>
    <ul>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Update">
        </form>
    </ul>
        <p>The below link totally needs to be updated</p>
        <p><a href="/accounts/password_change/">Change My Password</a></p>
    </div>

</div>
{% endblock %}