{% extends 'base.html' %}
{% load humanize %}
{% load tz %}

{% block content %}

    <h1 class="mui--text-display1">
        {% block title %}
            {{ details.away_team }} at {{ details.home_team }}
        {% endblock %}
    </h1>

  <div class="mui-panel">
    <div class="mui-container">
    <h2>{{ details.game_datetime | timezone:"America/Los_Angeles"}}</h2>
      <table>
          <tr>
              <th>Team</th>
              <th>Runs</th>
              <th>Hits</th>
              <th>Errors</th>
          </tr>
          <tr>
              <td>{{ details.away_team }}</td>
              <td>{{ details.away_runs }}</td>
              <td>{{ details.away_hits }}</td>
              <td>{{ details.away_errors }}</td>
          </tr>
          <tr>
              <td>{{ details.home_team }}</td>
              <td>{{ details.home_runs }}</td>
              <td>{{ details.home_hits }}</td>
              <td>{{ details.home_errors }}</td>
          </tr>
      </table>
      {% if details.game_headline %}
            <h3>  {{ details.game_headline }} </h3>

        <p>{{ details.game_body | safe }}</p>
        {% endif %}
    </div>
  </div>

  <div class="mui-container">
    <a class="mui-btn mui-btn--raised" href="{% url "stadium_tracker:my_game_list" %}">Go Back</a>
    {% if request.user.is_authenticated and request.user == details.user %}
    <a class="mui-btn mui-btn--danger" href="{% url "stadium_tracker:gamesseen_delete" details.id %}">Delete</a>
    {% endif %}
  </div>

{% endblock %}