{% extends 'base.html' %}

{% block content %}


<table class="mui-table mui-table--bordered">
    <thead>
        <tr>
            <th>Game</th>
            <th>Details</th>
            <th>User</th>
            <th colspan="2">
                &nbsp;
            </th>
        </tr>

    </thead>
    <tbody>
    {% for g in game_list %}
    <tr>
        <td>
            {{g.game_datetime}}
            <br>
            {{g.away_team}} vs {{g.home_team}}
            <br>
            Final Score: {{g.away_runs}} - {{g.home_runs}}
            </a>
    </td>
    <td>
        <a href="{% url 'stadium_tracker:gamedetails_list' g.id %}">Details</a>
    </td>
    <td>
        {% filter title%}
        {{g.user}}
        {% endfilter %}
    </td>
    {% if request.user == m.user %}
    <td><a class="mui-btn mui-btn--small mui-btn--flat mui-btn--danger" href="{% url "stadium_tracker:gamesseen_delete" m.id %}">Delete</a></td>
    {% else %}
        <td colspan="2"></td>
    {% endif %}

    </tr>
    {% endfor %}

    </tbody>
</table>

    <div class="mui-container">
    {% if request.user.is_authenticated %}
        <a class="mui-btn mui-btn--primary" href="{% url "stadium_tracker:gamedetails_create" %}">Add a Game Seen</a>
    {% else %}
        <a class="mui-btn mui-btn--primary" href="{% url "login" %}">Log into add a game seen</a>
    {% endif %}
    </div>

{% endblock %}