{% extends 'base.html' %}
{% load humanize %}
{% load tz %}

{% block content %}


  <div class="mui-panel">
    <div class="mui-container">
    <h1>
        {{ game_details.away.team }} at {{ game_details.home.team }}
    </h1>
    <h2>{{ game_details.game_date | timezone:"America/Los_Angeles"}}</h2>
      <table>
          <tr>
              <th>Team</th>
              <th>Runs</th>
              <th>Hits</th>
              <th>Errors</th>
          </tr>
          <tr>
              <td>{{ game_details.away.team }}</td>
              <td>{{ game_details.away.runs }}</td>
              <td>{{ game_details.away.hits }}</td>
              <td>{{ game_details.away.errors }}</td>
          </tr>
          <tr>
              <td>{{ game_details.home.team }}</td>
              <td>{{ game_details.home.runs }}</td>
              <td>{{ game_details.home.hits }}</td>
              <td>{{ game_details.home.errors }}</td>
          </tr>
      </table>
      {% if game_details.headline %}
            <h3>  {{ game_details.headline }} </h3>

        <p>{{ game_details.body | safe }}</p>
        {% endif %}
    </div>
  </div>

  <div class="mui-container">
    <a class="mui-btn mui-btn--raised" href="{% url "stadium_tracker:gamesseen_list" %}">Go Back</a>
  </div>

{% endblock %}